<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

	<conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
		
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr([%d{yyyyMMdd HH:mm:ss.SSS}]){magenta} %clr([%-5level]) [%thread] %clr(%logger){cyan} %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="jdbc.sqlonly" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="jdbc.sqltiming" level="OFF" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="jdbc.audit" level="OFF" additivity="false">
  	  <appender-ref ref="CONSOLE"/>
    </logger>
     <logger name="jdbc.resultset" level="OFF" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="jdbc.resultsettable" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
      <logger name="jdbc.connection" level="OFF" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>  
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>